.about-container {
    width: 100%;
    min-height: auto;
    margin-top: 80px;
}

.about-container h1 {
    color: black;
    font-size: 70px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

}

.me {
    color: red;
    padding-left: 20px;
}

@media only screen and (max-width:500px) {
    .about-container h1 {
        font-size: 40px;
        min-height: 100px;
    }
}


.personal-container {
    width: 100%;
    min-height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    width: 50%;
    min-height: 600px;
    
}

.left-side h1{
    padding:40px 33px;
}

.sub-overall{
    
    min-height: 300px;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-left{
    width: 50%;
    min-height: 300px;
    /* border:1px solid brown; */
    padding:0px 25px;
}

.sub-left h3{
    font-size:18px;
    line-height: 30px;
    padding-bottom:15px;
}

.sub-right{
    width:50%;
    min-height: 300px;
    /* border:1px solid rgb(19, 139, 129); */
    padding:0px 25px;

}

.sub-right h3{
    font-size:18px;
    line-height: 30px;
    padding-bottom:15px;
}

.left-side button{
    color:white;
    background-color: red;
    font-size:16px;
    padding:11px 20px;
    border-radius:25px;
    border:none;
    font-weight: bold;
    margin:50px 25px;
    border:3px solid red;
    cursor: pointer;

    
}

.left-side button:hover{
    border:3px solid red;
    background: none;
    color:black;
    transition:all 0.5s linear;
}




.download{
    background-color: white;
    color:red;
    border-radius:50%;
    width: 16px;
    height:16px;
    line-height: 16px;
    margin-left:10px;
    
}






.right-side {
    width: 50%;
    min-height: 600px;
    /* background-color: rgb(145, 224, 162); */
    /* border:1px solid black; */
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    gap:25px;

}
.right-side .first,.right-side .second,.right-side .third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.right-side .first{
    width: 300px;
    min-height: 200px;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius:13px;
}

.first h1,.second h1,.third h1{
    font-size:50px;
    color:red;
    align-self: start;
    padding-left:55px;
}

.first p,.second p,.third p{
    font-size:20px;
    font-weight: bold;
}

.right-side .second{
    width: 300px;
    min-height: 200px;
    background-color:  whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius:13px;
}

.third-overall{
    border:2px solid yellowgreen;
    
}


.right-side .third{
   
    min-height: 200px;
    background-color:  whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius:13px;

}
.download{
    background-color: white;
    color:red;
    border-radius:50%;
    width: 10px;
    height:10px;
    line-height: 13px;
    margin-left:8px;
    
}


@media only screen and (min-width:320px) and (max-width:1000px){
    .personal-container{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
        padding:30px;
    }



    .left-side {
        width:auto;
        min-height:auto;
        /* background-color: rgb(180, 233, 233); */
    }

    .left-side h1{
        font-size:25px;
        padding: 5px 10px;
    }

    .right-side {
        /* width: auto; */
        min-height: 600px;
        /* background-color: rgb(145, 224, 162); */
        /* border:1px solid black; */
        
    
    }

    .sub-left,.sub-right{
        width: 100%;
        min-height:auto;
        /* border:1px solid brown; */
        padding:0px 10px;
    }
    
    .sub-left h3,.sub-right h3{
        width: 100%;
        font-size:15px;
        line-height: 20px;
        padding-bottom:10px;
    }
    
    .sub-overall{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding:20px;
    }

    .sub-left,.sub-right{
        width: 100%;
    }

    .right-side{
        width: auto;
        display:grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        padding:50px;
    }
    .left-side button{
        color:white;
        background-color: red;
        font-size:10px;
        padding:8px 10px;
        border-radius:25px;
        border:none;
        font-weight: bold;
        margin:20px 25px;
        border:3px solid red;
        cursor: pointer;
    
        
    }

    .right-side {
        width:300px;
        min-height: 600px;
        /* background-color: rgb(145, 224, 162); */
        /* border:1px solid black; */
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        gap:20px;
        padding:20px;
       
    
    }
    .right-side .first,.right-side .second,.right-side .third{
        width:200px;
        min-height: 150px;
        background-color: whitesmoke;
        border-radius:13px;
    }

    .first h1,.second h1,.third h1{
        font-size:30px;
        color:red;
        /* align-self: start;
        padding-left:48px; */
    }
    
    .first p,.second p,.third p{
        font-size:16px;
        font-weight: bold;
    }
    

}


@media only screen and (min-width:1000px) and (max-width:1300px){
    .personal-container{
        width: auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap:30px;
        padding:30px;
    }
    .sub-overall{
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding:20px;
    }

    .sub-overall{
       width: auto;
        min-height: 300px;
        /* border:1px solid black; */
        display:grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap:0px;

    }


    .sub-left,.sub-right{
       min-width:250px;
        min-height:350px;
        /* border:1px solid brown; */
        padding:0px 10px;
    }

    .sub-right h3,.sub-left h3{
        font-size:16px;
        line-height: 30px;
        padding-bottom:15px;
    }

    .left-side h1{
        font-size:30px;
        padding:20px 30px;
    }

    .right-side{
        width: auto;
        display:grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding:50px;
    }

    .right-side .first,.right-side .second,.right-side .third{
        width:200px;
        min-height: 150px;
        background-color: whitesmoke;
        border-radius:13px;
    }

    .first h1,.second h1,.third h1{
        font-size:30px;
        color:red;
        /* align-self: start;
        padding-left:48px; */
    }
    
    .first p,.second p,.third p{
        font-size:16px;
        font-weight: bold;
    }

}

/*my skills*/

.myskills-overall{
    width: 100%;
    min-height:auto;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.myskills-overall h1{
    font-size:70px;
    letter-spacing: 2px;
    color:red;
    
}
.myskills-overall h1 span{
    color:black;
}

@media only screen and (max-width:500px){
    .myskills-overall h1{
        font-size: 38px;
        padding:10px;
    }
}

.images-overall{
    width: 100%;
    min-height: 300px;
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns:auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
    width:200px;
    height: 200px;
    border-radius:25px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    background-color: black;
    transition: all 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-1 img,.box-2 img,.box-3 img,.box-4 img,.box-5 img,.box-6 img{
    width:110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.box-1 h3,.box-2 h3,.box-3 h3,.box-4 h3,.box-5 h3,.box-6 h3{
    color:white;
}

.box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover,.box-5:hover,.box-6:hover{
    border:3px solid black;
    background-color:rgb(130, 126, 126);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media only screen and (max-width:600px){
    .images-overall{
        width: 100%;
        min-height: 300px;
        /* border: 3px solid red; */
        display: grid;
        grid-template-columns:auto auto;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding:20px;
    }

    .box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
        width:120px;
        height: 120px;
        border-radius:25px;
        border:2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:8px;
        background-color: black;
        transition: all 1s ease-in-out;
    }

    .box-1 img,.box-2 img,.box-3 img,.box-4 img,.box-5 img,.box-6 img{
        width:60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }

    .box-1 h3,.box-2 h3,.box-3 h3,.box-4 h3,.box-5 h3,.box-6 h3{
        color:white;
        font-size:13px;
    }
    
    
}



@media only screen and (min-width:600px) and (max-width:1100px){
    .images-overall{
        width: 100%;
        min-height: 300px;
        /* border: 3px solid red; */
        display: grid;
        grid-template-columns:auto auto auto;
        justify-content: center;
        align-items: center;
        gap:50px;
        padding:50px;
    }




    .box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
        width:150px;
        height: 150px;
        border-radius:25px;
        border:2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:8px;
        background-color: black;
        transition: all 1s ease-in-out;
    }

    .box-1 img,.box-2 img,.box-3 img,.box-4 img,.box-5 img,.box-6 img{
        width:80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

    .box-1 h3,.box-2 h3,.box-3 h3,.box-4 h3,.box-5 h3,.box-6 h3{
        color:white;
        font-size:16px;
    }
    
    
}

@media only screen and (min-width:1100px) and (max-width:1300px){
    .images-overall{
        width: 100%;
        min-height: 300px;
        /* border: 3px solid red; */
        display: grid;
        grid-template-columns:auto auto auto auto ;
        justify-content: center;
        align-items: center;
        gap:50px;
        padding:50px;
    }
}



/*my education*/

.myEducation-overall{
    width: 100%;
    min-height:auto;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.myEducation-overall h1{
    font-size:70px;
    letter-spacing: 2px;
    color:red;
    
}
.myEducation-overall h1 span{
    color:black;
}

@media only screen and (max-width:500px){
    .myEducation-overall h1{
        font-size: 38px;
        padding:10px;
        text-align: center;
    }
}


.myEducation-container{
    width:100%;
    min-height:650px;
    background-color: rgb(232, 228, 228);
    display:flex;
    align-items: center;
    justify-content: center;
}

.Education-all{
    width:85%;
    min-height:650px;
    border:1px solid red;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
    justify-content:center;
    gap:30px;
}

.Education-box1,.Education-box2,.Education-box3,.Education-box4{
   
    min-height:325px;
    border:5px solid black;
    
    
}

.Education-box1 h2,.Education-box2 h2,.Education-box3 h2,.Education-box4 h2{
    font-size:30px;
    padding:30px 30px;
}

.Education-box1 p,.Education-box2 p,.Education-box3 p,.Education-box4 p{
    font-size:18px;
    padding:0px 30px;
    line-height:33px;
}

.icons{
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: start;
    gap:20px;
    position: relative;
   
}

.icons>span{
    color:white;
    background-color: black;
    font-size:20px;
    padding:7px 20px;
    border-radius:20px;
}
.icon1{
    font-size:25px;
    color:white;
    background-color: red;
    width:70px;
    height: 70px;
    padding:13px;
    border-radius: 50%;
}


@media only screen and (min-width:320px) and (max-width:1000px) {

    .myEducation-container{
        width:100%;
        min-height:650px;
        background-color: rgb(232, 228, 228);
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:40px;
    }
    .Education-all{
        width:auto;
        min-height:650px;
        border:1px solid red;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content:center;
        gap:20px;
    }

    .Education-box1,.Education-box2,.Education-box3,.Education-box4{
        width: 100%;
        min-height:325px;
        border:5px solid black;
        
        
    }
     
}


@media only screen and (min-width:1000px) and (max-width:1200px){

    .myEducation-container{
        width:100%;
        min-height:650px;
        background-color: rgb(232, 228, 228);
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:40px;
    }
    .Education-all{
        width:auto;
        min-height:650px;
        border:1px solid red;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content:center;
        gap:20px;
    }

    .Education-box1,.Education-box2,.Education-box3,.Education-box4{
        width: 100%;
        min-height:325px;
        border:5px solid black;
        
        
    }
     
}






