.contact-container{
    width:100%;
    height: 100vh;
    background-color: rgb(3, 143, 10);
    color:white;
    display:grid;
    place-items: center;
}

.contact-container>h1{
    font-size:100px;
}