body{
    background-color: #fefefe;
}

.header{
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 100px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color:#fefefe;
}

.hamburder{
    display:none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-bar ul li Link{
    display: block;
    color:#fefefe;
    font-size: 20px;
    padding:10px 25px;
    border-radius:50%;
    transition: 0.2s;
}