.mywork-container {
    width: 100%;
    min-height: 150px;
    /* border:1px solid red; */
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mywork-container h1 {
    font-size: 70px;
    letter-spacing: 2px;
    color: red
}

.mywork-container h1 span {
    color: black;
}

@media only screen and (max-width:500px) {
    .mywork-container {

        min-height: 100px;

    }

    .mywork-container h1 {
        font-size: 40px;

    }

}

.overall {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;

}

.container {
    position: relative;
    width: 400px;
    height: 300px;

}

.image {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;



}

.overlay {
    position: absolute;
    transition: all 1s ease;
    opacity: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.overlay p {
    color: white;
    text-align: center;
    line-height: 30px;
}

.overlay button {
    background: none;
    color: red;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: black;

}



.overlayRight {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: black;
}

.overlayTop {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;

}

.overlayBottom {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: black;
}

.overlayCross {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;


}

.overlayFade {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    cursor: pointer;

}

.container:hover .overlayLeft,
.container:hover .overlayRight {
    width: 100%;
    cursor: pointer;
}

.container:hover .overlayTop,
.container:hover .overlayBottom {
    height: 100%;
    cursor: pointer;

}

.container:hover .overlayCross {
    width: 100%;
    height: 100%;
    cursor: pointer;


}

/* Mobile view */

@media only screen and (max-width:870px) {
    .overall {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 25px;

    }

    .container {
        position: relative;
        width: 300px;
        height: 200px;

    }

    .image {
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .text {
        color: white;
        font-size: 24px;
        font-weight: bold;

    }

    .overlay p {
        color: white;
        font-size: 13px;
        text-align: center;
        line-height: 24px;
    }

    .overlay button {
        background: none;
        color: red;
        font-size: 14px;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .overlay {
        position: absolute;
        /* transition: all .3s ease-in-out; */
        opacity: 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px;
    }
}

/* Tab view  */

@media only screen and (min-width:870px) and (max-width:1220px) {
    .overall {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 30px;

    }

    .container {
        position: relative;
        width: 350px;
        height: 300px;

    }

    .image {
        display: block;
        width: 350px;
        height: 300px;
        object-fit: cover;
    }

    .text {
        color: white;
        font-size: 24px;
        font-weight: bold;

    }

    .overlay p {
        color: white;
        font-size: 13px;
        text-align: center;
        line-height: 24px;
    }

    .overlay button {
        background: none;
        color: red;
        font-size: 14px;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .overlay {
        position: absolute;
        /* transition: all .3s ease; */
        opacity: 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px;
    }
}


.button-overall {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-overall button {
    color: white;
    background-color: red;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    cursor: pointer;

}

.refrece {
    background-color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    color: red;


}

.button-overall button:hover {
    padding: 10px 30px;
    transition: 1s ease-in-out;


}